.container {
  width: 80%;
  height: 80%;
  background: #fff;
  box-shadow: calc(var(--wu )* 2) calc(var(--wu) * 3) 0 #b28037;
  margin: auto 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  /* [todo] proper easing */
  transition: transform 750ms ease;
  transform: none;
}
.containerPrinting {
  composes: container;
  transform: translateX(-90%);
  transition-delay: 750ms
}