.container {
  width: calc(13 * var(--wu));
  height: calc(10 * var(--wu));
  background: #121212;
  border-radius: calc(0.8 * var(--wu));
  overflow: hidden;
  padding: calc(0.75 * var(--wu));
}

.lens {
  width: 100%;
  height: 100%;
  border-radius: calc(1.2 * var(--wu));
  display: block;
  object-fit: cover;
}
